# Dependências
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dados de execução
pids
*.pid
*.seed
*.pid.lock

# Cobertura de testes
coverage/

# Builds/saídas
/dist/
/build/
/out/

# Caches
.cache/
.parcel-cache/
.eslintcache/
.stylelintcache/
.sass-cache/
.tmp/
tmp/

# TypeScript
*.tsbuildinfo

# Variáveis de ambiente
.env
.env.*
!.env.example

# Editores/IDE
.vscode/
.idea/
*.swp

# Arquivos do SO
.DS_Store
Thumbs.db

# Miscelânea
*.local
.vercel
.env*.local
